/*Wszystkie wartości któe dałem do CSS-a są z programu Avocode - przeniosłem te wartośći i dałem w komentarz (jak chcemy identiko z psd kolory, marginy itp to można odkomentować)*/
* {
     box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.main_signUp{
     background-image:  url("../img/signUp-min.png");
     width: auto;
     height: 400px;
     color: #fff;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;

}
.main_signUp--button{
width: 154px;
height: 42px;
background-color: #ffc74a;
align-self: center;
border: 1px solid #ffc74a;
border-radius: 150px;;
  color: #b48622;
  font-weight: bold;
}
.main_signUp>h1{
  font-size: 4em;
  margin: 0;
  padding: 30px;
}
.main_signUp>p{
height: 18px;
color: #ffffff;
width: 350px;
font-size: 18px;
font-family: Montserrat;
font-weight: 400;
align-self: center;
margin: 0;
padding: 30px 0;
}
.main_signUp--underline{
  text-decoration: underline;
  color: #ffc74a;
}
