/*Wszystkie wartości któe dałem do CSS-a są z programu Avocode - przeniosłem te wartośći i dałem w komentarz (jak chcemy identiko z psd kolory, marginy itp to można odkomentować)*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.page-wrapper {
    max-width: 100%;
    overflow: hidden;
}

/* main_explore */

.main_explore {
    background-image: url("/img/bg-min.png");
    width: 100%;
    height: 100vh;
    display: flex;
}

.main_explore > h3 {
    color: #606f81;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    margin-left: 45%;
    white-space: nowrap;
}

/* main_explore-sandomierz */

.main_explore-sandomierz {
    display: flex;
    flex-direction: column;
    direction: rtl;
    margin-left: 7%;
}

.main_explore-sandomierz .san {
    width: 600px;
    height: 300px;
}

.main_explore-sandomierz .ierz {
    width: 600px;
    height: 300px;
}

/* main_explore--description */

.main_explore--description {
    display: flex;
    position: absolute;
    align-items: center;
}

.main_explore--description h3 {
    position: absolute;
    margin-left: 15%;
    margin-top: -9%;
    font-size: 23px;
    color: #ffc74a;
}

.main_explore--description p {
    width: 35%;
    height: 100%;
    margin-top: 15%;
    font-size: 12px;
    line-height: 20px;
    margin-left: 15%;
}

.main_explore--button {
    border-radius: 28px;
    color: #B98000;
    letter-spacing: 1px;
    white-space: nowrap;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 40px 15px 40px;
    background-color: #FFC74A;
    cursor: pointer;
    border: 1px solid #ffc74a;
    transition: all 0.4s;
    margin-top: 10%;
}

.main_explore--button:hover {
    color: #FFC74A;
    background-color: #B98000;
    border: 1px solid #b98000;
    text-transform: 1s;
}

/* main_explore--photo */

.box {
    width: 330px;
    height: 390px;
    position: absolute;
    top: 25%;
    left: 59.5%;
}

.image {
    width: 330px;
    height: 390px;
    top: 21%;
    left: 57.5%;
    position: absolute;
}
