/*Wszystkie wartości któe dałem do CSS-a są z programu Avocode - przeniosłem te wartośći i dałem w komentarz (jak chcemy identiko z psd kolory, marginy itp to można odkomentować)*/
* {
     box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.page-wrapper{
    max-width:100%;
    overflow: hidden;
}
/*Header_secion*/
.page_header{
     background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/photo-min.png");
     max-width: 1920px;
     height: 1209px;
     z-index: -5;
     color: #fff;
}
/*logo*/
.page_logo{
     display: block;
     width: 51px;
     height: 61px;
     margin-top: 64px;
     margin-left: 40px;
}
.container{
     display: flex;
}
.container>h1{
     position: absolute;
     text-align: left;
     margin-top: 80px;
     margin-left: 111px;
}
/*Navigation section*/
.page_nav{
     margin-top: 55px;
     margin-right: 106px;
}
.page_nav--items{
     display: flex;
     align-items: center;
     width: auto;
     height: 26px;
     color: #ffffff;
     font-family: Montserrat;
     font-size: 26px;
     font-weight: 400;
     list-style: none;
     letter-spacing: 0.45px;
}
.page_nav--items>li{
     padding: 0 20px;
}
/* Style for "Photo" */
.section_text{
     /* Style for "Fall in lo" */
width: 549px;
height: 163px;
color: #ffffff;
margin-top: 337px;
margin-left: auto;
margin-right: auto;
/* font-family: Montserrat;
font-size: 92px;
font-weight: 700;
line-height: 92px; */
}
/* Style for "Button" */
.section_button{
width: 232px;
height: 51px;
/* background-color: #ffc74a; */
}
.section_small_text{
     /* Style for "Popular pl" */
width: 238px;
height: 18px;
color: #ffffff;
font-size: 18px;
/* font-family: Montserrat;
font-weight: 400;
line-height: 92.97px; */
}

/* City images gallery */
.main_image {
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.page_image {
    flex-basis: 19%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    position: relative;
}

.main_image img {
    width: 100%;
}

.page_image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.page_image_overlay h2 {
    margin: 0;
}

.page_image_overlay p {
    color: #ffc74a;
    font-size: 10px;
    margin-top: 5px;
}

.page_image_overlay--middle p {
    color: inherit;
    margin-bottom: auto;
}

.page_image_overlay--middle h2 {
    font-size: 40px;
    margin-top: auto;
}

.page_image_button {
    border: 1px solid #ffc74a;
    background-color: #ffc74a;
    border-radius: 150px;
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 1.5;
    font-size: 12px;
    font-weight: 700;
    color: #b48622;
}



.mian_content{

}
.main_content--textarea{
     /* Style for "Area" */
/* width: 810px;
height: 59px;
box-shadow: 0 0 85px rgba(141, 148, 169, 0.15);
background-color: #ffffff; */
}
.main_contentSecond{
     display: flex;
}
.--firstItems{
     width: 371px;
     height: 350px;
}
/* MAIN EXPLORE */

.main_explore {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url("/img/bg-min.png");
    background-size: cover;
    position: relative;
}

.main_explore > h3 {
    color: #606f81;
    white-space: nowrap;
    margin-left: 45%;
    top: 5%;
    position: absolute;
    font-size: 20px;

}

.main_explore--description p {
    position: absolute;
    width: 35%;
    font-size: 12px;
    margin-top: 16%;
    line-height: 20px;
    left: 19%;
}

.main_explore--description > h3 {
    color: #ffc74a;
    font-size: 25px;
    position: absolute;
    left: 19%;
    top: 20%;
}

.main_explore--button {
    border-radius: 28px;
    color: #B98000;
    letter-spacing: 1px;
    white-space: nowrap;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 40px 15px 40px;
    background-color: #FFC74A;
    cursor: pointer;
    border: 1px solid #ffc74a;
    top: 72%;
    position: relative;
    right: -155%;
    transition: all 0.4s;
}

.main_explore--button:hover {
    color: #FFC74A;
    background-color: #B98000;
    border: 1px solid #b98000;
    text-transform: 1s;
}

/* main_explore--photo */

.box {
    width: 330px;
    height: 390px;
    left: 53%;
    position: relative;
    top: 21%;
    z-index: 2;
}

.san {
    width: 600px;
    height: 300px;
    position: relative;
    top: -16%;
    left: 26%;
}

.ierz {
    width: 600px;
    height: 300px;
    position: relative;
    left: 54%;
    top: -8%;
}

.image {
    width: 330px;
    height: 390px;
    position: absolute;
    top: 17%;
    left: 57%;
    z-index: 3;
}

/* Style for "SAN" */

/* width: 726px;
height: 257px;
text-shadow: 0 0 125px rgba(141, 148, 169, 0.25);
color: #ffc74a;
font-family: Montserrat;
font-size: 355px;
font-weight: 700;
line-height: 267.49px;
text-transform: uppercase; */

/* Style for "DOM" */

/* width: 785px;
height: 257px;
text-shadow: 0 0 125px rgba(141, 148, 169, 0.25);
color: #ffc74a;
font-family: Montserrat;
font-size: 355px;
font-weight: 700;
line-height: 267.49px;
text-transform: uppercase; */

/* Style for "BG" */

/* width: 1920px;
height: 897px;

/* Style for "Photo" */

/* width: 570px;
height: 555px; */

.mian_signUp{
     background-image: url("img/signUp-min.png");
     /* Style for "Photo" */
     width: 1920px;
     height: 642px;
     color: #fff;
     text-align: center;
}
.main_signUp--button{
     /* Style for "Button" */
/* width: 154px;
height: 51px;
background-color: #ffc74a; */
}
.main_signUp>p{
     /* Style for "You can al" */
width: 350px;
height: 18px;
color: #ffffff;
font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 94.54px;
/* Text style for "newsletter" */
/*color: #ffc74a; */
}
.page_footer{
     /* Style for "BG" */
width: 1920px;
height: 4500px;
}
.page_footer>h1{
     /* Style for "POLIND" */
/* width: 1175px;
height: 221px;
opacity: 0.55;
text-shadow: 0 0 125px rgba(141, 148, 169, 0.25);
color: #ffc74a;
font-family: Montserrat;
font-size: 305px;
font-weight: 700;
line-height: 229.76px;
text-transform: uppercase; */
}
